<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>每日头条</title>
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<section class="main">
			<section class="leftbar">
				<header>每日头条</header>
				<ul class="site-list" id="site-list">
					<li class="active"><a id="toutiao">开发者头条</a></li>
					<li><a id="segment">SegmentFault</a></li>
					<li><a id="geek">极客头条</a></li>
					<li><a id="html5dream">HTML5梦工厂</a></li>
					<li><a id="tutorialzine">Tutorialzine</a></li>
				</ul>
			</section>

			<section id="posts">
				
			</section>
		</section>
		<script src="js/main.js"></script>
	</body>
</html>